<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="apps.gliger.glg.lar">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeDark">
        <receiver android:name=".BroadcastReceivers.AlarmReceiver" />
        <receiver android:name=".BroadcastReceivers.DeviceBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Activities.Splash"
            android:screenOrientation="portrait"
            android:theme="@style/larDark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SignUp"
            android:screenOrientation="portrait" />
        <activity android:name=".Activities.MainMenu" android:screenOrientation="portrait"/>
        <activity android:name=".Activities.SetupData" android:screenOrientation="portrait"/>
        <activity android:name=".Activities.EditorActivity" android:screenOrientation="portrait"/>
        <activity android:name=".SettingsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".Activities.ActivityReport" android:screenOrientation="portrait"/>
        <activity android:name=".Activities.About" android:screenOrientation="portrait"></activity>
        <activity android:name=".Activities.IntroActivity" android:screenOrientation="portrait"/>

    </application>

</manifest>